body {
    background: #232830;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    position: relative;
    border: 5px outset red;
    width: 100%; /* Change width to 100% for responsiveness */
    height: auto; /* Change height to auto for responsiveness */
    border: 0;
}

/* Add a media query for smaller screens */
@media only screen and (max-width: 768px) {
    .header {
        width: 100%; /* Adjust width for smaller screens */
        top: 20px;
        right: 0;
        left: 0;
    }

    .categories, .articles, .about {
        top: 5px;
        right: 0;
        font-size: 18px;
    }

    .logo {
        top: 60px;
        right: 10%;
        left: 10%;
    }

    .heading {
        top: 200px;
        right: 5%;
    }

    .subtitle {
        top: 250px;
        right: 5%;
        font-size: 20px;
    }

    .category {
        width: 100%;
        top: 350px;
        left: 0;
    }

    .pagination {
        width: 100%;
        bottom: 20px;
        left: 0;
        text-align: center;
    }

    .footer > hr {
        width: 100%;
        bottom: 150px;
    }

    .footer > p {
        bottom: 50px;
        left: 5%;
        font-size: 20px;
    }

    .github, .social {
        width: 100%;
        left: 0;
        text-align: center;
    }
}

/* Additional styles for larger screens if needed */
@media only screen and (min-width: 1200px) {
    .header {
        width: 80%;
        margin: 0 auto;
    }

    /* Add more styles as needed */
}
